/* ADD YOUR STYLES HERE */
.tabular {
  font-size: 14px;
}

.table-row {
  border-bottom: 1px solid #ccc;
}

.table-item {
  padding:10px 50px 10px 50px;
}

.table-row-stats {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.table-number-stats {
  padding: 15px 15px 0 15px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.table-words-stats {
  padding: 0 15px 15px 15px;
  font-size: 9px;
  color: #ccc;
  text-align: center;
}

.bar-table {
  width: 95%;
}

.bar-text {
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
  width: 80px;
}

.bar-percent {
  font-size: 14px;
  color: #fff;
  background: #5D98E3;
  padding-left: 3px;
  border-radius: 0 2px 2px 0;
  margin-right: 80px;
}

/*Commented out, uncomment to see the full-screen lightbox*/
/*.gray-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(88,88,88,.95);
}

.lightbox {
  border: 1px solid #595959;
  background: white;
  border-radius: 10px;
  width: 600px;
  margin: 20% auto;
  overflow: hidden;
}

.lightbox-title {
  margin-top: 20px;
  margin-left: 20px;
}

.lightbox-text {
  margin: 20px;
}

.lightbox-button {
  color: white;
  background: #F97783;
  width: 120px;
  margin: 0 20px 20px 0;
  float: right;
  text-align: center;
  text-decoration: none;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
}*/

.media-block {
  float: left;
  margin-right: 10px;
  display: block;
}

.media-text {
  margin: left: 10px;
}
